* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --main-blue: #08d9d6;
    --main-dark: #252a34;
    --main-pink: #ff2e63;
    --main-gray: #eaeaea;
}
.nav {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--main-pink);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
}
.nav-menu {
    display: flex;
    margin: 0 1rem;
}
.nav-menu a {
    display: block;
    font-size: 1.6rem;
    padding: 1rem;
    text-decoration: none;
    color: white;
}
ul {
    list-style: none;
}
.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40  0%, var(--main-dark) 100%);
}
.welcome-section p {
    font-size: 1.8rem;
    font-weight: 200;
    font-style: italic;
    color: var(--main-pink);
    text-align: center;
    padding: 35px 15px 0 15px;
}
h1 {
    font-size: 3.2rem;
}
h1, h2 {
    font-weight: 700;
    text-align: center;
    color: white;
}
h2 {
    font-size: 2rem;
    padding-top: 45px;
}
a {
    text-decoration: none;
    color: white;
}
img {
    display: block;
}
.project-section {
    text-align: center;
    background: var(--main-blue);
    padding: 4rem 0.7rem;
}
.projects-header {
    max-width: 640px;
    margin: 0 auto 4rem auto;
}
.projects-grid {
    display: grid;
    grid-gap: 2.4rem;
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    margin-bottom: 4.5rem;
}
.project {
    background: var(--main-dark);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}
.project-image {
    height: calc(100% - 3.5rem);
    width: 100%;
    object-fit: cover;
}
.project-title {
    font-size: 1.4rem;
    padding: 1rem 0.3rem;
}
.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 1.6rem;
    background: var(--main-dark);
}
.contact-section-header h2 {
    font-size: 2.6rem;
}
.contact-section-header p {
    font-style: italic;
    color: var(--main-gray);
}
.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 720px;
    margin: 2.5rem auto;
    flex-wrap: wrap;
}
.contact-details {
    font-size: 1.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    padding: 10px 20px;
    margin-left: -15px;
}
.cdl {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-top: 5px;
}
.github {
    background: url(/assets/icons/github.png)center/cover no-repeat;
}
.linkedin {
    background: url(/assets/icons/linkedin.png)center/cover no-repeat;
}
.twitter {
    background: url(/assets/icons/twitter.png)center/cover no-repeat;
}